* {
    margin: 0;
    padding: 0;
}

body, html, .container-fluid {
    height: 100%;
}

textarea {
    resize: none;
	width: 100%;
	height: 90%;
    font-family: monospace;
}

.row {
    
}

canvas {
    border: 1px solid #000000;
}
